* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Lobster';
  font-size: 14px;
}

body:before {
  content: "";
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: 15% 15%;
  background-size: 15%;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.body:before {
  background-image: url('assets/Gregg.png');
  opacity: 1;
}

.announcement {
  background: white;
  border: 5px double black;
  margin: 200px auto 0;
  padding: 50px;
  text-align: center;
  width: 80%;
}

.header {
  font-size: 2em;
  font-weight: bold;
}

.subheader {
  font-size: 1.5em;
  font-weight: light;
}