* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: url(assets/Gregg.png) repeat 15% 15%;
  -webkit-background-size: 15%;
  -moz-background-size: 15%;
  -o-background-size: 15%;
  background-size: 15%;
  font-family: 'Lobster';
  font-size: 14px;
}

.announcement {
  background: white;
  border: 5px double black;
  margin: 200px auto 0;
  padding: 50px;
  text-align: center;
  width: 80%;
}

.header {
  font-size: 2em;
  font-weight: bold;
}

.subheader {
  font-size: 1.5em;
  font-weight: light;
}