body{
background-color:#d0e4fe;
}

p {
color: blue;
background-color: yellow;
}

h1, h2{
font-family: "Arial";
}

#top_content {
text-align: center;
}

.list_div {
border: 1px solid blue;
padding: 10px;
}